doctype html
html(lang="en")
  head
    title Hello, world!
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="../css/main.css")
  body
    include _partials/_nav.pug
    include _partials/_header.pug
    .container
      .row
        .col-xl-6
          h2 Changing The Way You Interact With Healthcare
          p At HATCX, we believe the healthcare industry needs to change—and we want to be that positive change. We are bursting with ideas, energy, and a deep understanding of how healthcare works (and often, how it doesn’t). 
          p We exist to help connect you with your health.
          p We believe in creating easy, simple solutions to a complex industry. We want to empower you with the right tools to make the best personal health decisions. We want to innovate where innovation is needed most—to bring transparency to service, give you control of your personal health information and make it easy to access.
          p Ultimately we want to change the way you think about and use healthcare.
          button.btn.btn-primary(type="button") Become a partner
        .col-xl-6
          img(src="http://fillmurray.com/500/500", alt="")
            
    .container
      .row
        .col-xl-12
          h2 Questions?
        .card-deck
          .card
            img.card-img-top(src="http://fillmurray.com/285/200")
            .card-body
              h4.card-title
              p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text 
                small.text-muted Last updated 3 mins ago 
          .card
            img.card-img-top(src="http://fillmurray.com/285/200")
            .card-body
              h4.card-title
              p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text 
                small.text-muted Last updated 3 mins ago  
          .card
            img.card-img-top(src="http://fillmurray.com/285/200")
            .card-body
              h4.card-title
              p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text 
                small.text-muted Last updated 3 mins ago                          
        a(href="#") For all media inquiries, please contact us at press@hatcx.com
    include _partials/_footer.pug       
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous") 
    script(type="application/javascript", src="../js/main.js")
