footer
  .container
    .row
      ul.nav
        li.nav-item
          a.nav-link Facebook
        li.nav-item
          a.nav-link Twitter
        li.nav-item
          a.nav-link Email
      ul.nav
        li.nav-item
          a.nav-link Products
        li.nav-item
          a.nav-link About
        li.nav-item
          a.nav-link Jobs
        li.nav-item
          a.nav-link Blog  
    .row
      .col-xl-12
        p &copy 2017 HATCX 
        a(href="#") Terms
        | |
        a(href="#") Privacy Policy
