.jumbotron.jumbotron-fluid
  .container-fluid
    h1.display-3 Linking Humans To Their Health
    p.lead Healthcare Solutions for the modern age
.container
  .row
    .col-xl-6
      img(src="http://fillmurray.com/500/200", alt="")
      img(src="http://fillmurray.com/500/500", alt="")
    .col-xl-6    
      h2 Find Your Doctor, find your cost
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas hic dolores perferendis nam aliquid quidem eum rem fuga enim eaque, incidunt deleniti iste sit quibusdam iure fugit itaque nobis.
      button.btn.btn-primary(type="button") Get Started
